/* Debug */
#debug {
	display: none;
}

/* Hide close button of file picker */
.oc-dialog-close {
	display: none;
}

/* This is a hack. Without it the select button of the file picker goes crazy. */
#oc-dialog-filepicker-content {
	height: initial !important;
}

.oc-dialog.in-iframe {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	padding: 5px !important;
}

.oc-dialog.in-iframe .oc-dialog-title {
	display: none;
}

.oc-dialog.in-iframe #oc-dialog-filepicker-content {
	width: inherit !important;
}

.oc-dialog.in-iframe ul.filelist {
	height: 218px !important;
}

.oc-dialog.in-iframe ul.filelist .filename {
	max-width: 72% !important;
}

.oc-dialog.in-iframe ul.filelist .date {
	display: block !important;
}

.oc-dialog.in-iframe .filelist-container {
	height: 185px !important;
	padding-bottom: 0px !important;
}

.oc-dialog.in-iframe table.filelist .filename {
	max-width: 330px !important;
}

.oc-dialog.in-iframe table.filelist .filesize,
.oc-dialog.in-iframe table.filelist .date {
	display: table-cell !important;
}
