body {
	margin: 8px;
}

ol {
	list-style-position: inside;
	margin-left: 12px;
}

.hidden {
	display: none;
}

form {
	display: table;
	margin-top: 15px;
}
form p {
	display: table-row;
}
form label, form input {
	display: table-cell;
}
form input[type="submit"] {
	margin-top: 15px;
}

#infotext, #tp {
	min-height: 146px;
}

#expiration {
	display: block;
}
#ui-datepicker-div .ui-datepicker-header > a {
	top: 1px;
}
#ui-datepicker-div .ui-datepicker-header > a:nth-child(1) {
	left: 2px;
}
#ui-datepicker-div .ui-datepicker-header > a:nth-child(2) {
	right: 2px;
}

#generated {
	margin-left: 3%;
	margin-bottom: 10px;
}
#generated .info {
	margin-left: -3%;
}
#generated input {
	width: 94%;
}
body.success #infotext, body.failure #infotext {
	display: none;
}
body.success #tp, body.failure #tp {
	display: block;
}
body.success #generated {
	display: block !important;
}
body.failure #error {
	display: block !important;
}

body.in-iframe #ui-datepicker-div {
	top: 0 !important;
	left: 230px !important;
}
