#loader {
	background: url("../img/logo.svg") no-repeat center;
}

.bar .left .logo {
	display: none;
}

.bar .left {
	padding: 8px 10px 0px 15px;
}

.buddyPicture {
	background: #00bbd7 !important;
}

.buddyPicture .fa {
	color: white !important;
}

.bar .right .btn.active.aenablebtn {
	background-color: #00bbd7;
	border-color: #00bbd7;
}

.welcome .welcome-logo {
	background: url("../img/logo.svg") no-repeat left top;
}

.remoteVideo .overlayLogo {
	background: url("../img/logo.svg") no-repeat right center;
	max-height: 50px;
}

.desktopnotify-icon {
	background-image: url("../img/logo-48x48.png");
}

.presentation .btn.download-to-owncloud {
	left: 57px;
}

.generate-temporary-password .fa.fa-key {
	color: #aaa;
}

.owncloud-iframe-modal .modal-body {
	margin: 0;
	padding: 2px;
	height: 300px;
}

.owncloud-iframe-modal.generate-tp .modal-body {
	height: 340px !important;
}

.owncloud-iframe-modal iframe {
	width: 100%;
	height: 100%;
}

.owncloud-iframe-modal .loader {
	min-width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}
