#loader {
background: url("../img/logo.svg") no-repeat center;
}

.bar .left .logo a {
display:none;
}

.bar .left .logo {
background: url("../img/spreedme.svg") no-repeat center;
background-size: 100%;
display: inline-block;
width: 108px;
height: 40px;
}

.bar .left {
padding: 8px 10px 0px 15px;
}

@media (max-width: 700px) {
	.bar .left .logo {
		background: url("../img/logo.svg") no-repeat center;
		width: 46px;
		height: 46px;
	}
	.bar .left {
		padding: 2px 5px 0px 11px;
	}
}

.welcome .welcome-logo {
background: url("../img/logo.svg") no-repeat left top;
}

.remoteVideo .overlayLogo {
background: url("../img/logo.svg") no-repeat right center;
max-height: 50px;
}

.desktopnotify-icon {
  background-image: url("../img/logo-48x48.png");
}
