language: php
php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  global:
    - BRANCH=master
  matrix:
    - DB=mysql

matrix:
  allow_failures:
    - php: hhvm
  include:
    - php: 5.5
      env: DB=sqlite
    - php: 5.5
      env: DB=pgsql
    - php: 5.6
      env: DB=sqlite
    - php: 5.6
      env: DB=pgsql
    - php: 7.0
      env: DB=sqlite
    - php: 7.0
      env: DB=pgsql

install:
  # install ocdev
  - sudo apt-get -y install python3-jinja2 python3-setuptools
  - sudo easy_install3 requests
  - sudo easy_install3 ocdev
  # set up postgresql
  - createuser -U travis -s oc_autotest
  # set up mysql
  - mysql -e 'create database oc_autotest;'
  - mysql -u root -e "CREATE USER 'oc_autotest'@'localhost' IDENTIFIED BY '';"
  - mysql -u root -e "grant all on oc_autotest.* to 'oc_autotest'@'localhost';"
  # install owncloud
  - cd ..
  - ocdev setup core --dir owncloud --branch $BRANCH --no-history
  - mv $TRAVIS_BUILD_DIR owncloud/apps/spreedme
  - cd owncloud/apps/spreedme
  - cp config/config.php.in config/config.php
  - cp extra/static/config/OwnCloudConfig.js.in extra/static/config/OwnCloudConfig.js
  - cd ../../..
  - phpenv config-add owncloud/apps/spreedme/tests/travis/php.ini
  - cd owncloud
  - ./occ maintenance:install --database-name oc_autotest --database-user oc_autotest --database-pass --admin-user admin --admin-pass admin --database $DB
  - ./occ app:enable spreedme

before_script:
  - cd apps/spreedme

script:
  - phpunit -c phpunit.xml
  - phpunit -c phpunit.integration.xml
